body{

    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/background6.jpg) no-repeat center center fixed;
    background-size: 100% 100%;
    background-position:100% 100%;
    color: #7cb854;
}

.date-picker-wrapper{
    display: none;
}

.container{
    padding: 30px;
}

.material-icons{
    color: #7cb854;
}

md-input-container .md-input{
    border-color: #6FFF0F;
}

md-input-container label{
    color: #B2D59A;
}

md-input-container.md-default-theme .md-input, md-input-container .md-input{
    color: white;
}

#img_logo{
    margin: 50px;
    height: 100px;
    width: 100px;
}


.white{
    color: white;
}



.md-raised{
    background-color: #7cb854 !important;
}