<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tuCanchaApp" version="0.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TuCancha App</name>
    <description>
        soccer fild reservation app
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        TuCancha App Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <icon src="icon.png" />
    <icon src="icon.png" platform="android" qualifier="ldpi" />
    <icon src="icon.png" platform="android" qualifier="mdpi" />
    <icon src="icon.png" platform="android" qualifier="hdpi" />
    <icon src="icon.png" platform="android" qualifier="xhdpi" />
 
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="*://*api.parse.com/*"/>

    <platform name="android">
        <allow-intent href="market:*" />

    </platform>

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
