
<br><br>
<br>


  <div id="div-forms">
                   
      <div class="modal-body">
          <p>Hola {{user_name}} elige la fecha en la que te gustaria reservar tu cancha</p>
      </div>
				       
    <div class="container">
        <div class="dropdown">
          <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
            <div class="input-group"><input type="text" class="form-control" data-ng-model="data.dateDropDownInput"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', minView: 'hour' }"/>
          </ul>
        </div>
    </div>
    <div class="modal-footer">
        <div>
            <button ng-click="checkAvailableFilds()" type="button" class="btn btn-primary btn-lg btn-block">Buscar</button>
        </div>
        <br>
        <table class="reservation_table">
            <tr>
                <th class="reservation_th">Empresa</th>
                <th class="reservation_th">Cancha</th>
            </tr>
            <tr ng-click="makeAReservation(field)" ng-repeat="field in fields track by $index">                
                <td>{{field.company}}</td>
                <td>{{field.name}}</td>
            </tr>
        </table>
    </div>
                                       
</div>
                <!-- End # DIV Form -->



  
