

<div class="background-wrapper">
    <div class="container">

        <div align="center">
           <img id="img_logo" src="img/logo.png">                    
        </div>
        
        <form ng-submit="logIn()">
        
            <!-- Begin # Login Form -->
            <md-input-container class="md-block">
                <!-- Use floating placeholder instead of label -->
                <md-icon class="material-icons">email</md-icon>
                <input ng-model="login_username" id="login_username" type="email" placeholder="Email" ng-required="true" autocomplete="off">
            </md-input-container>

            <md-input-container >
                <!-- Use floating placeholder instead of label -->
                <md-icon class="material-icons">fingerprint</md-icon>
                <input ng-model="login_password" id="login_password" type="password" autocomplete="off" placeholder="Contraseña" ng-required="true">
            </md-input-container>
            

    <!--         <md-checkbox ng-model="no_hace_nada" aria-label="Recordarme">
              <span class="white">Recordarme</span>
            </md-checkbox> -->

            <md-button type="submit" class="md-raised"><span class="ng-scope white">Iniciar sesión</span>
            </md-button>
    <!-- 
            <md-button id="login_lost_btn" >
                <span class="ng-scope white">Olvidaste tu contraseña?</span>
            </md-button> -->

            <md-button ng-click="go('/setUpAccount')" id="login_register_btn">
                <span class="ng-scope white">Regístrate</span>
            </md-button>
        

            <!-- End # Login Form -->
        </form>
    </div>
</div>
    




    
