

/*.background-wrapper{
    background-color: white;
}*/

.background-wrapper-init{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/background6.jpg) no-repeat center center fixed;
    background-size: 100% 100%;
    background-position:100% 100%;
    color: #7cb854;
}


.re_size_image{
    width: 100%;
    height: 25%;
    position: relative;
    top: 0;
    left: 0;
}

.re_size_logo{
    position: absolute;
    top: 55%;
    left: 69%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

md-card md-card-content {
    padding: 0 !important;
}

@media screen and ( max-height: 550px ){
    .angular-google-map-container { 
        height: 390px; 
    }
}

@media screen and ( min-height: 600px ){
    .angular-google-map-container { 
        height: 520px; 
    }
}



@media screen and ( min-height: 730px ){
    .angular-google-map-container { 
        height: 610px; 
    }
}

@media screen and ( min-height: 960px ){
    .angular-google-map-container { 
        height: 880px; 
    }
}


@media screen and ( min-height: 1250px ){
    .angular-google-map-container { 
        height: 1130px; 
    }
}



.loading_wrapper{
    width: 100%;
    height: 100%;
    background: white;
    margin: 0 !important;
}

.white-bg{
    background-image: none;
    background-color: white;
}

md-input-container:not(.md-input-invalid).md-input-has-value label{
    color: #7cb854;
}

.fa-futbol-o, .fa-compass, .fa-globe, .fa-phone, .fa-clock-o{
    color: #7cb854;
    margin-right: 10px;
    font-size: 30px;
}

.container{
    padding: 30px;
}

.material-icons{
    color: #7cb854;
}


md-input-container.md-default-theme .md-input, md-input-container .md-input, #datatimepicker{
    color: #7cb854;
    text-align: center;
    font-weight: bold;
}


md-input-container .md-input{
    border-color: #7cb854;
}

md-input-container label{
    color: #7cb854;
}

md-input-container.md-default-theme .md-input, md-input-container .md-input{
    color: white;
    text-align: left;
    font-weight: normal;
}

md-tabs .md-tab.md-active{
    color: #7cb854;
}

.datetimepicker .active{
    background-color: #7cb854 !important;
    background-image: none;
}

.datetimepicker .active.active {
    background-color: #7cb854 !important;
    background-image: none;
}

#img_logo{
    margin: 70px;

}

.fix_name{
    position:fixed;
    bottom:20px;
    left:50%;
    opacity: 0.5;
}




#text-register-msg{
    color: #7cb854;
    font-weight: bold;
}

.white{
    color: white;
}



.md-raised{
    background-color: #7cb854 !important;
}